# Supabase Configuration
VITE_SUPABASE_URL=https:https://zrumnqtgdscrwgcguseq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpydW1ucXRnZHNjcndnY2d1c2VxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNjM2NzMsImV4cCI6MjA4OTgzOTY3M30.Pw71Qfz57br6TwnaRK_2DcgHfEGUHgK_OrpRzuv2Na8

# Telegram Configuration
VITE_TELEGRAM_ADMIN_ID=7618746133

# Environment Settings
VITE_ENV=production
